.cal_header{
  height: 7vh;
  width: 100%;
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small_right{
  width: 10%;
  height: 40%;
}

.cal_p_header{
  text-align: center;
  margin:0
}

.cal_day{
  height: 5vh;
  width: 100%;
  display: flex;

  background-color: rgb(56, 56, 56);
}

.cal_iner{
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
 align-items: center;
}

.cal__day{
  width: 15%;
  height: 16%;
  background-color: white;
}

.tr_style{
  width: 100%;
  height: 16%;
  background-color: white;
}
.th{
  width: 14.2%;
  background-color: rgb(48, 48, 48);
 
}
.th p {
  color:white;
  font-size: 0.8vw;
}
.table{
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.td{

border: 1px solid black;
height: 10vw;


}

.schedule_date{
  width: 100%;


  margin-top: 15vh;
  border-top: 1px solid black;
}

.schedule_inner{
  width: 100%;
  height: 20vh;

  display: flex;
  margin-top: 5vh;

}

.left_schedule{
  width: 30%;
  height: 100%;

 
}

.right_schedule{
  width: 70%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
 
}
.memo_{
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
 
}
.memo__{
  background-color: #90A3E2;
  margin-top: 5%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
}
.p_P{
  margin:0;
  font-size: 0.9vw;
  font-weight: bold;

}

.p_memo{
  margin:0;
  color:white;
 font-weight: bold;
 font-size: 1vw;

}
.p_Pp{
  font-size: 1.2vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  margin-left: 5%;
}
.p_time{
  margin-left: 5%;
  font-size: 1vw;
  font-weight: bold;
}
.p_link{
  margin-left: 5%;
  color:#90A3E2;
  font-size: 0.8vw;
}